updat of file with simple string result with encoded string

Hi 
I am following the doc , trying to update existing file with a simple string
```
file = project.files.get(file_path=file_path, ref=branch_name)
# Modify the file content
file.content = 'a string'
file.save(branch_name=branch_name, commit_message='comment')
```

But the saved file content is unreadable
I tried with utf8 encoding , got the same

What am i missing? 

I managed to make it work with the commit object

@tal5ab If I remember correctly the content is base64 encoded. Have you tried to use `file.decode()` ?

Hi sorry , missed your reply 
I did tried it , didn't worked , maybe i dud it the wrong way
It seems that the decode is used when fetching files 
What is the order of using it when pushing files?

> @tal5ab If I remember correctly the content is base64 encoded. Have you tried to use `file.decode()` ?

I have the same problem as @tal5ab , and try add decode() unable to resolve it.
===========
My environment：
python v3.6
python-gitlab  v1.4.0
===========
I doubt  requests.json() caused problems when call update() in gitlab/__init__.py
I can try modify code in requests.json()，as follows：
```# requests/models.py
... ...
    def json(self, **kwargs):
        if not self.encoding and self.content and len(self.content) > 3:
            # No encoding set. JSON RFC 4627 section 3 states we should expect
            # UTF-8, -16 or -32. Detect which one to use; If the detection or
            # decoding fails, fall back to `self.text` (using chardet to make
            # a best guess).
            encoding = guess_json_utf(self.content)
            if encoding is not None:
                try:
                    return complexjson.loads(   **### # modify code snippet**
                        self.content, **kwargs
                    )
                    # return complexjson.loads(
                    #     self.content.decode(encoding), **kwargs
                    # )
                except UnicodeDecodeError:
                    # Wrong UTF codec detected; usually because it's not UTF-8
                    # but some other 8-bit codec.  This is an RFC violation,
                    # and the server didn't bother to tell us what codec *was*
                    # used.
                    pass
        return complexjson.loads(self.text, **kwargs)
... ...

```
It's exciting that it worked ！

I got the same problem.
This have was solved?

My environment：
python v3.7.5
python-gitlab v1.9.0

sorry, I just saw your message now. My solution:
```
from requests.models import Response, guess_json_utf, complexjson
from requests.adapters import HTTPAdapter, CaseInsensitiveDict, get_encoding_from_headers, extract_cookies_to_jar
......
class GitResponse(Response):
    def json(self, **kwargs):
        if not self.encoding and self.content and len(self.content) > 3:
            encoding = guess_json_utf(self.content)
            if encoding is not None:
                try:
                    return complexjson.loads(
                        self.content, **kwargs
                    )
                except UnicodeDecodeError:
                    pass
        return complexjson.loads(self.text, **kwargs)

class Git_v3Adapter(HTTPAdapter):
    def build_response(self, req, resp):
        if req.method == 'PUT':
            response = GitResponse()
            response.status_code = getattr(resp, 'status', None)
            response.headers = CaseInsensitiveDict(getattr(resp, 'headers', {}))
            response.encoding = get_encoding_from_headers(response.headers)
            response.raw = resp
            response.reason = response.raw.reason
            if isinstance(req.url, bytes):
                response.url = req.url.decode('utf-8')
            else:
                response.url = req.url
            extract_cookies_to_jar(response.cookies, req, resp)
            response.request = req
            response.connection = self
        else:
            response = super(Git_v3Adapter, self).build_response(req, resp)
        return response
```